@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, main {
    @apply h-full w-full;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 0.5s ease-out;
  }